click 
click-plugins==1.1.1
dash==2.11.0
dash-core-components==2.0.0
dash-extensions==1.0.1
dash-html-components==2.0.0
dash-leaflet==0.1.26
dash-table==5.0.0
EditorConfig==0.12.3
Flask
Flask-Caching
Flask-Compress
gunicorn==19.0.0
jsbeautifier==1.14.8
more-itertools==9.1.0
multidict==6.0.3
munch==2.5.0
munkres==1.1.4
numpy 
packaging 
pandas 
plotly
protobuf==4.23.3
pyparsing
pyproj
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil 
pytz 
rasterio==1.2.10
requests==2.31.0
retrying==1.3.4
scipy 
setuptools-scm 
snuggs==1.4.7
tenacity
tomli 
tornado 
typing_extensions 
urllib3==1.26.13
Werkzeug
win32-setctime 
yarl==1.8.2

